data/cart.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:akt="http://connect.akatus.com/" elementFormDefault="qualified"
    targetNamespace="http://connect.akatus.com/">

    <xsd:element name="carrinho">
        <xsd:annotation>
            <xsd:documentation>
                Elemento raiz do XML e contem todos os dados da
                compra.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="recebedor" type="akt:Receiver">
                    <xsd:annotation>
                        <xsd:documentation>
                            Tag que contém todos os dados do recebedor do
                            pagamento.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pagador" type="akt:Payer">
                    <xsd:annotation>
                        <xsd:documentation>
                            Deve conter todos os dados do cliente que
                            efetuará o pagamento da
                            compra, denominado pagador
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="produtos" type="akt:Products">
                    <xsd:annotation>
                        <xsd:documentation>
                            Esta tag contem todos os produtos inclusos no
                            carrinho.
                            Esta tag pode conter de 1 a 100 tags filhas.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="transacao" type="akt:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>
                            Esta tag contem todos os dados relacionados a
                            transação.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Receiver">
        <xsd:all>
            <xsd:element name="api_key">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contém o token gerado na conta Akatus,
                        na área logada.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="email">
                <xsd:annotation>
                    <xsd:documentation>
                        Deve conter o email do recebedor. Este email
                        deverá ser o mesmo usado
                        para fazer login na conta Akatus.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Payer">
        <xsd:all>
            <xsd:element name="nome" type="xsd:string" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Deve conter o nome do pagador.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="xsd:string" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Deve conter o email do pagador.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enderecos" type="akt:Addresses"
                minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todos os endereços do pagador.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefones" type="akt:Phones"
                minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todos os telefones do pagador.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Addresses">
        <xsd:sequence>
            <xsd:element name="endereco" type="akt:Address"
                minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todos os dados de endereço do
                        pagador. Existindo mais
                        de um endereço, a tag deverá ser repetida.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Address">
        <xsd:all>
            <xsd:element name="tipo" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o tipo de endereço do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="entrega" />
                        <xsd:enumeration value="comercial" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="logradouro" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o logradouro, referente ao
                        endereço do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numero" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o número, referente ao endereço
                        do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="9999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bairro" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o bairro, referente ao endereço
                        do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="complemento" minOccurs="0" maxOccurs="1"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o complemento, referente ao
                        endereço do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="cidade" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a cidade, referente ao endereço
                        do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="estado" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o estado, referente ao endereço
                        do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="AC" />
                        <xsd:enumeration value="AL" />
                        <xsd:enumeration value="AM" />
                        <xsd:enumeration value="BA" />
                        <xsd:enumeration value="CE" />
                        <xsd:enumeration value="ES" />
                        <xsd:enumeration value="DF" />
                        <xsd:enumeration value="GO" />
                        <xsd:enumeration value="MA" />
                        <xsd:enumeration value="MT" />
                        <xsd:enumeration value="MS" />
                        <xsd:enumeration value="MG" />
                        <xsd:enumeration value="PA" />
                        <xsd:enumeration value="PB" />
                        <xsd:enumeration value="PR" />
                        <xsd:enumeration value="PE" />
                        <xsd:enumeration value="PI" />
                        <xsd:enumeration value="RJ" />
                        <xsd:enumeration value="RN" />
                        <xsd:enumeration value="RS" />
                        <xsd:enumeration value="RO" />
                        <xsd:enumeration value="RR" />
                        <xsd:enumeration value="SC" />
                        <xsd:enumeration value="SP" />
                        <xsd:enumeration value="SE" />
                        <xsd:enumeration value="TO" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="pais" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o país, referente ao endereço do
                        pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="BRA" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="cep" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o CEP, referente ao endereço do
                        pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Phones">
        <xsd:sequence>
            <xsd:element name="telefone" type="akt:Phone" minOccurs="1"
                maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todos os dados referentes ao
                        telefones do pagador.
                        Existindo mais de um telefone, a tag deve ser
                        repetida.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Phone">
        <xsd:all>
            <xsd:element name="tipo" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o tipo de telefone do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="comercial" />
                        <xsd:enumeration value="residencial" />
                        <xsd:enumeration value="celular" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numero" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o número de telefone do pagador.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="1000000000" />
                        <xsd:maxInclusive value="9999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Products">
        <xsd:sequence>
            <xsd:element name="produto" type="akt:Product" minOccurs="1"
                maxOccurs="100">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todas as informações do produto
                        incluso.
                        Podem existir de 1 a 100 tags desta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Product">
        <xsd:all>
            <xsd:element name="codigo" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o código do produto incluso.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-zA-Z0-9]{1,70}" />
                        <xsd:maxLength value="70" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="descricao" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a descrição do produto incluso.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantidade" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a quantidade relacionada ao
                        produto incluso.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="99999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="preco" type="xsd:float" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o preço unitário do produto
                        incluso.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="peso" type="xsd:float" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o peso unitário do produto
                        incluso, em kilogramas
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frete" type="xsd:float" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o valor do frete referente ao
                        produto incluso.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="desconto" type="xsd:float" minOccurs="1"
                maxOccurs="1" default="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o valor do desconto em cima do
                        produto incluso.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Transaction">
        <xsd:all>
            <xsd:element name="desconto_total" type="xsd:float"
                minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a soma de todos os descontos de
                        todos os produtos.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="peso_total" type="xsd:float"
                minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a soma do peso de todos os
                        produtos.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frete_total" type="xsd:float"
                minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem a soma do valor de todos os
                        fretes dos produtos.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="moeda" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag cotem a moeda usada na transação.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="BRL" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="referencia" minOccurs="0" maxOccurs="1"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag cotem um identificador da transação que
                        pode ser usada para
                        controle interno do seu sistema.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="meio_de_pagamento" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o tipo de pagamento que será
                        feito.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="boleto" />
                        <xsd:enumeration value="tef_itau" />
                        <xsd:enumeration value="tef_bradesco" />
                        <xsd:enumeration value="cartao_visa" />
                        <xsd:enumeration value="cartao_master" />
                        <xsd:enumeration value="cartao_amex" />
                        <xsd:enumeration value="cartao_elo" />
                        <xsd:enumeration value="cartao_diners" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numero" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o numero do cartão de crédito
                        usado na transação.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="9999999999999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="parcelas" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o número de parcelas deste
                        pagamento.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="99" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="codigo_de_seguranca" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag devera conter o código de segurança do
                        cartão de crédito
                        usado na transação. Este campo também é conhecido
                        como CVC2 e
                        CVV2.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="99999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="expiracao" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag devera conter a data de
                        validade/expiração do cartão de
                        crédito usado na transação.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(0[1-9]|1[0-2])/[1-2][0-9]{3}" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="portador" type="akt:Holder" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem todos os dados do titular do
                        cartão de crédito
                        utilizado na transação.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Holder">
        <xsd:all>
            <xsd:element name="nome" type="xsd:string" minOccurs="1"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag deve conter o nome do titular do cartão
                        de crédito exatamente
                        como impresso no cartão.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cpf" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o CPF do titular do cartão de
                        crédito utilizado na
                        transação.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="99999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="telefone" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Esta tag contem o telefone do titular do cartão de crédito utilizado
                        na transação.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:maxInclusive value="9999999999" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>